<!DOCTYPE html>
<html>
<head>
    <title>"Login"</title>
</head>
<body>
    <form action = "/login" method="post">
        <label for = "email">Email:</label><br>
        <input type = "text" id = "email" name = "email"><br>
        <label for = "password">Password:</label><br>
        <input type = "password" id = "password1" name = "password1"><br>
        <label for = "space"> </label><br>
        <button type = "submit" value="submit">Login</button><br><br>
        <a href="/register">Don't have an account? Sign up!</a>
    </form>
</body>
</html>
