<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css') }}">
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="/">CryptoPizza</a>
    </div>
    <div class="top-bar-right">
      {% if token %}
        <a href="/profile">Profile</a>
        <a href="/logout">Log out</a>
      {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {% endif %}
    </div>
  </div>

  <h1>Menu</h1>
  <ul>
    {% for pizza in menu %}
      <a href="/menu/{{ pizza.name }}" class="card-link">
        <li>
          <span>{{ pizza.name }}</span>
          <span>{{ pizza.price }}$</span>
        </li>
      </a>
    {% endfor %}
  </ul>
  <a href="/" class="button">Back</a>
</body>
</html>
