<!DOCTYPE html>
<html>
<head>
  <title>Your orders</title>
  <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css') }}">
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="/">CryptoPizza</a>
    </div>
    <div class="top-bar-right">
      {% if token %}
        <a href="/profile">Profile</a>
        <a href="/logout">Log out</a>
      {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {% endif %}
    </div>
  </div>

  <h1>Your orders</h1>
  <ul>
    {% for order in orders %}
      <li>
        <a>Peperoni: {{ order.content.peperoni }}, Caprese: {{order.content.caprese}}, Cheese: {{order.content.caprese}}</a>
        <span>{{ order.price }}Kč</span>
      </li>
    {% endfor %}
  </ul>
  <a class="button" href="/profile">Back</a>
</body>
</html>
