<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', path='styles/style.css') }}">
</head>
<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <a href="/">CryptoPizza</a>
    </div>
    <div class="top-bar-right">
      {% if token %}
        <a href="/profile">Profile</a>
        <a href="/logout">Log out</a>
      {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {% endif %}
    </div>
  </div>

  <h1>Registration</h1>
  <div class="logreg">
    <form action="/register" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="email">Email</label>
      <input type="text" id="email" name="email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password">

      <button class="submit-button" type="submit" value="submit">Register</button>
      <a class="muted" href="/register">Already have an account? Log in!</a>
    </form>
  </div>
</body>
</html>
